<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Add a new Movie</h3>
        </div>

        <div class="panel-body">
            Title: <input class="form-control" ng-model="movie.title" />
            Year: <input type="number" class="form-control" ng-model="movie.year" />
            Stars: <input min="0" max="5" class="form-control" ng-model="movie.stars" />

        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" ng-click="addMovie(movie)">Add</button>
        </div>
    </div>
</div>
