<!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-8">
            <h3 style="text-align: center; margin-bottom: 40px;">All the Movies!</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="col-sm-6">
                <input class="form-control" type="movieSearch" placeholder="Movie Title" ng-model="search" />
            </div>
            <div class="col-sm-3 col-sm-offset-3">
                <button class="btn btn-primary" ng-click="add()">Add Movie</button>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default" ng-repeat="movie in movies | filter: search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>{{movie.title}} ({{movie.year}})</h3>
                        </div>
                        <div class="col-sm-2">
                            <h3>{{movie.stars}} <i class="ion-ios-star"></i></h3>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" ng-click="edit(movie.id)">Edit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
